* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
  font-family: system-ui, sans-serif;
}

body {
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 100%;
  height: 100%;
  background: red;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#message {
  font-size: 3rem;
  margin-bottom: 20px;
}

#score {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#startBtn {
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
}

